<% provide(:title, @bar.name) %>
<%= flash[:message]%>

<h1><%= @bar.name %></h1>
<p><%= @bar.address %></p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Deals</h3>
      <% if @bar.deals.any? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Day</th>
              <th>Deal</th>
            </tr>
          </thead>
          <tbody>
            <% @bar.deals.each do |deal| %>
              <%= render deal %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-md-6">
      <h3>Add Deal</h3>
      <%= render 'shared/deal_form' %>
    </div>
  </div>
</div>


